<!-- <div class="flex flex-wrap">
  <div class="w-full lg:w-8/12 px-4">
    <app-card-settings></app-card-settings>
    <app-map-example></app-map-example>
  </div>
  <div class="w-full lg:w-4/12 px-4">
    <app-card-profile></app-card-profile>
  </div>
</div> -->

<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Your story starts with us.
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              This is a simple example of a Landing Page you can build using
              Notus Angular. It features multiple CSS components based on the
              Tailwind CSS design system.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-800 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-800 -mt-24">
    <div class="container mx-auto px-4">


      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Awarded Agency</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Divide details about your product or agency work into parts. A
                paragraph describing a feature will be enough.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400"
              >
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Free Revisions</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Keep you user engaged by providing meaningful information.
                Remember that by this time, the user is curious.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
              >
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Verified Company</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Write a few lines about each one. A paragraph describing a
                feature will be enough. Keep you user engaged!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap justify-center text-center mb-12">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Here are our heroes</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            According to the National Oceanic and Atmospheric Administration,
            Ted, Scambos, NSIDClead scentist, puts the potentially record
            maximum.
          </p>
        </div>
      </div>
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
        <div class="flex-auto p-5 lg:p-10">
          <h4 class="text-2xl font-semibold">Product Information</h4>
          <section class="text-gray-700 body-font overflow-hidden bg-white">
            <div class="container px-5 py-24 mx-auto">
              <div class="w-full mx-auto flex flex-wrap">
                <!-- <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg"> -->

                <div alt="ecommerce" id="default-carousel" class="relative lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" data-carousel="slide">
                  <!-- Carousel wrapper -->
                  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                       <!-- Item 1 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                      </div>
                      <!-- Item 2 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img src="https://file4.batdongsan.com.vn/resize/1275x717/2021/12/28/20211228143543-118d_wm.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                      </div>
                      <!-- Item 3 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                      </div>
                      <!-- Item 4 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img src="https://file4.batdongsan.com.vn/resize/1275x717/2021/12/28/20211228143543-118d_wm.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                      </div>
                      <!-- Item 5 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img src="https://file4.batdongsan.com.vn/resize/1275x717/2021/12/28/20211228143543-118d_wm.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                      </div>
                  </div>
                  <!-- Slider indicators -->
                  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                  </div>
                  <!-- Slider controls -->
                  <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                          <span class="sr-only">Previous</span>
                      </span>
                  </button>
                  <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                          <span class="sr-only">Next</span>
                      </span>
                  </button>
              </div>

                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                  <h2 class="text-sm title-font text-gray-500 tracking-widest">Address</h2>
                  <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Title</h1>
                  <!-- <div class="flex mb-4">
                    <span class="flex items-center">
                      <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                      </svg>
                      <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                      </svg>
                      <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                      </svg>
                      <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                      </svg>
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                      </svg>
                      <span class="text-gray-600 ml-3">4 Reviews</span>
                    </span>
                    <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200">
                      <a class="text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                      </a>
                      <a class="ml-2 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                        </svg>
                      </a>
                      <a class="ml-2 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                          <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                        </svg>
                      </a>
                    </span>
                  </div> -->
                  <p class="leading-relaxed">Description-Tiểu villa Bình Thạnh 6x23m (2 tầng) hẻm nhựa 12m thông bàn cờ, kiếm không ra căn thứ 2 - khu dân trí cao - nội thất nhập khẩu - giá 15,5 tỷ nay giảm 14,7 tỷ.
                    - Đường Bình Lợi, Bình Thạnh.<br>
                    - Diện tích: 135m² (6x23m) thông số quá đẹp, công nhận đủ không lộ giới.<br>
                    - Giá bán: 14,7 tỷ thương lượng.<br>
                    + Hẻm nhựa 12m 1 trục, khu văn minh dân trí cực kỳ cao.<br>
                    + Cách mặt tiền đường chỉ có 200m.<br>
                    + Câu trúc: Trệt 2 tầng.<br>
                    + Gồm 4 phòng ngủ master, 5 WC, bếp, phòng khách, lô gia, giếng trời,...<br>
                    + Nhà có gara oto, sân để xe rộng vô tư, sân thượng,...<br>
                    + Nội thất ngoại nhập, toàn hàng xịn sò rất giá trị.<br>
                    + Ngoài ra, có hệ thống năng lượng mặt trời, tặng luôn.<br>
                    + Khu nhà ở dân cư cực kỳ văn minh, yên tĩnh, dân trí cao.<br>
                    + Khu vực đi lại thuận tiện: Gần ngã 4 Nguyễn Xí mới mở đường rộng thênh thang, gần Phạm Văn Đồng,... Giá trị nhà sẽ còn tăng rất nhanh.<br>
                    + Xem nhà 247 LH: Anh Minh.<br>
                    + Khách hàng thiện chí hãy liên hệ ngay.<br>
                    Xin cảm ơn!</p>
                  <!-- <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
                    <div class="flex">
                      <span class="mr-3">Color</span>
                      <button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button>
                      <button class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"></button>
                      <button class="border-2 border-gray-300 ml-1 bg-red-500 rounded-full w-6 h-6 focus:outline-none"></button>
                    </div>
                    <div class="flex ml-6 items-center">
                      <span class="mr-3">Size</span>
                      <div class="relative">
                        <select class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-red-500 text-base pl-3 pr-10">
                          <option>SM</option>
                          <option>M</option>
                          <option>L</option>
                          <option>XL</option>
                        </select>
                        <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                            <path d="M6 9l6 6 6-6"></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div> -->
                  <div class="flex">
                    <span class="title-font font-medium text-2xl text-gray-900">$58.00</span>
                    <button class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Button</button>
                    <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                      </svg>
                    </button>
                  </div>

                  <div class="mb-6">
                    <h2 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">System Specs :</h2>
                    <div class="bg-blueGray-200 rounded-xl">
                      <div class="p-3 lg:p-5 ">
                        <div class="p-2 rounded-xl lg:p-3  bg-gray-50">
                          <div class="w-full flex flex-wrap gap-x-1">
                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Area:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>
                            <div class="w-2/5 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Frontage:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>
                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Price:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Juridical:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Interior:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Direction:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Way In:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Floor:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Bed:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                                <span >
                                  <i class="fa fa-sack-dollar"></i>
                                </span>
                                <div class="text-base pl-3 font-medium">
                                  <span >
                                    Bath:
                                  </span>
                                  <span >
                                    12 tỷ
                                  </span>
                                </div>
                            </div>



                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>
          <app-map-example ></app-map-example>
          <h4 class=" mt-5 text-2xl font-semibold">Saler</h4>
            <app-card-profile ></app-card-profile>
        </div>
      </div>

    </div>
  </section>


</main>
<app-footer></app-footer>
