<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-gray-100">
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
                <h6 class="uppercase text-gray-800 mb-1 text-xs font-semibold">
                    Overview
                </h6>
                <h2 class="text-gray-800 text-xl font-semibold">
                    Posts
                </h2>
                <select class="rounded-md border-none focus:outline-none outline-none" #optionsShowChart (change)="getPostByDateTime(optionsShowChart.value)">
                  <option value="day">Day</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
                </select>
            </div>
        </div>
    </div>
    <div class=" flex-auto">
        <!-- Chart -->
        <div class="relative w-full">
            <div class="chart-container">
                <div>
                    <div class="grid grid-cols-3 gap-1 ">
                        <div echarts [options]="chartPostOptions" class="demo-chart col-span-2"></div>
                        <div echarts [options]="chartPostPieOptions" class="demo-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-gray-100">
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
                <h6 class="uppercase text-gray-800 mb-1 text-xs font-semibold">
                    Overview
                </h6>
                <h2 class="text-gray-800 text-xl font-semibold">
                    Revenue
                </h2>
                <select class="rounded-md border-none focus:outline-none outline-none" #optionsShowChart (change)="getRevenueByDateTime(optionsShowChart.value)">
                  <option value="day">Day</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
                </select>
            </div>
        </div>
    </div>
    <div class=" flex-auto">
        <!-- Chart -->
        <div class="relative w-full">
            <div class="chart-container">
                <div class="grid grid-cols-3 gap-1 ">
                    <div echarts [options]="chartRevenueOptions" class="demo-chart col-span-2"></div>
                    <div echarts [options]="chartRevenuePieOptions" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-gray-100">
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
                <h6 class="uppercase text-gray-800 mb-1 text-xs font-semibold">
                    Overview
                </h6>
                <h2 class="text-gray-800 text-xl font-semibold">
                    Sellers
                </h2>
                <select class="rounded-md border-none focus:outline-none outline-none" #optionsShowChart (change)="getAccountByDateTime(optionsShowChart.value)">
                  <option value="day">Day</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
                </select>
            </div>
        </div>
    </div>
    <div class=" flex-auto">
        <!-- Chart -->
        <div class="relative w-full">
            <div class="chart-container">

                <div echarts [options]="chartAccountOptions" class="demo-chart"></div>

            </div>
        </div>
    </div>
</div>
