<!-- <div class="flex flex-wrap">
  <div class="w-full lg:w-8/12 px-4">
    <app-card-settings></app-card-settings>
    <app-map-example></app-map-example>
  </div>
  <div class="w-full lg:w-4/12 px-4">
    <app-card-profile></app-card-profile>
  </div>
</div> -->
<app-auth-navbar></app-auth-navbar>

<main class="mt-8">

  <div *ngIf="showHeader" class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://www.vietnamairlines.com/~/media/Images/HeroBannerDestination/Vietnam/Herro%20banner/DANANG/Hero%20banner/1300x450/VNA-DaNang-HeroBanner-1300x450.jpg');
      ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Your Land Your Vison.
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              Come to our website, Land Vision. You don't need to spend time running around the city to find a piece of land, house or apartment that suits for you. Come and experience it with us. We'll save your time.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-800">
    <div class="container mx-auto px-4">




      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 ">
        <div class="flex-auto p-5 lg:p-10">
          <div *ngIf="isReject">
            <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
              <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                  <p class="font-bold">Your post has been rejected and here is the reason why:</p>
                  <p class="text-sm">{{rejectReasonText}}</p>
                </div>
              </div>
            </div>
            <br>
          </div>
          <p class="text-2xl font-semibold">Product Information</p>
          <section class="text-gray-700 body-font overflow-hidden rounded-lg  bg-white">
            <div class="container px-5 py-12 mx-auto">
              <div class="w-full mx-auto flex flex-wrap">

                <div alt="ecommerce" id="default-carousel"
                  class="relative lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                  data-carousel="slide">
                  <app-post-image></app-post-image>


                </div>

                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                  <h2 class="text-sm title-font text-gray-500 tracking-widest">{{postItem.property.addressNumber}}</h2>
                  <h1 class="text-gray-900 text-3xl title-font font-medium mb-48">{{postItem.title}}</h1>

                  <div class="flex">
                    <button (click)="MyProfile()" class="directSeller inline-block">
                      <span>Seller Info</span>
                    </button>
                    <div class="ml-5 bg-cover object-cover m-1 w-9 h-9 p-2 right-0 top-0" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg);"></div>
                    <button onclick="window.open('https://zalo.me/0708548819', '_blank')" class=" directSeller max-h-9" style="min-width: 175px; background-color: #0091e6;" >
                      Connect via Zalo
                    </button>
                  </div>
                  <div class="flex">
                    <span class="title-font font-medium text-2xl text-gray-900">{{postItem.property.price |
                      moneyTransform}}</span>
                  </div>

                  <div class="mb-6">
                    <h2 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">System Specs :</h2>
                    <div class="bg-blueGray-200 rounded-xl">
                      <div class="p-3 lg:p-5 ">
                        <div class="p-2 rounded-xl lg:p-3  bg-gray-50">
                          <div class="w-full flex flex-wrap justify-between gap-x-1">
                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-square" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Area:
                                </span>
                                <span>
                                  {{postItem.property.area}} m²
                                </span>
                              </div>
                            </div>
                            <div class="w-2/5 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Frontal:
                                </span>
                                <span>
                                  {{postItem.property.frontangeArea}} m²
                                </span>
                              </div>
                            </div>
                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-money" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Price:
                                </span>
                                <span>
                                  {{postItem.property.price | moneyTransform}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-book" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Legal:
                                </span>
                                <span>
                                  {{postItem.property.juridical | juridicalTransform | translate}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Is interior:
                                </span>
                                <span>
                                  {{postItem.property.interior | interiorTransform | translate}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-compass" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Direction:
                                </span>
                                <span>
                                  {{postItem.property.direction | directionTransform | translate}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-road" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Way In:
                                </span>
                                <span>
                                  {{postItem.property.wayIn}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-level-up" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Floor:
                                </span>
                                <span>
                                  {{postItem.property.numberOfFloor}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-bed" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Bed:
                                </span>
                                <span>
                                  {{postItem.property.numberOfBed}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-bath" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Bath:
                                </span>
                                <span>
                                  {{postItem.property.numberOfBath}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 ml-4 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  District:
                                </span>
                                <span>
                                  {{postItem.property.district.name}}
                                </span>
                              </div>
                            </div>

                            <div class="w-1/5 mb-4 md:w-2/5 flex items-center">
                              <span>
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                              </span>
                              <div class="text-base pl-3 font-medium">
                                <span>
                                  Ward:
                                </span>
                                <span>
                                  {{postItem.property.ward.name}}
                                </span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <label class="title-font font-medium text-2xl text-gray-900" for="leading-relaxed">Description </label>
                  <p class="leading-relaxed">{{postItem.description}}</p>

                </div>
              </div>
            </div>
          </section>
          <app-map-list-detail [postId]="postId"></app-map-list-detail>
          <app-relative-building-tab [positions]="postItem.property.positions"></app-relative-building-tab>
        </div>
      </div>

    </div>
  </section>


</main>
<app-footer></app-footer>
