code-input {
  --item-spacing: 10px;
  --item-height: 3em;
  --item-border: none;
  --item-border-bottom: 2px solid #dddddd;
  --item-border-has-value: none;
  --item-border-bottom-has-value: 2px solid #888888;
  --item-border-focused: none;
  --item-border-bottom-focused: 2px solid #809070;
  --item-shadow-focused: none;
  --item-border-radius: 0px;
}
.w-16-otp{
  margin: 0 4px;
}
.input{
  margin-left: 25px;
  align-items: center;
}
.mt-top{
  margin-top: -12px;
  margin-left: 5px;

}
a.mt-top{
  font-weight: 900;
}
