<div class=" flex h-screen items-center justify-center bg-[#fbfbfb]">
 <div class="bg-gray-60 flex  rounded-2xl shadow-lg max-w-4xl p-8 items-center">
  <div class=" bg-gray-60 grid w-80 grid-rows-4 gap-1">

      <p class="font-semibold  text-gray-700">💌 Check your <span style="text-decoration: underline;" (click)="route()"> Mail</span> to receive the code verificated password.</p>

    <br>

    <input type="text" class="h-10 w-full rounded border p-2 text-sm" placeholder="Your verificated code" />
    <button class="bg-[#38C390] mt-2 rounded-xl text-gray-50 hover:bg-gradient-to-r hover:from-[#FD5E57] hover:to-[#FC477E]">Submit</button>
    <a href="">

    </a>
  </div>
 </div>
</div>
