<div class="h-screen bg-blue-500 py-20 px-3">
  <div class="container mx-auto">
    <div class="max-w-sm mx-auto md:max-w-lg">
      <div class="w-full">
        <div class="bg-white h-64 py-3 rounded text-center">
          <h1 class="text-2xl font-bold">OTP Verification</h1>
          <div class="flex flex-col mt-4">
            <span>Enter the OTP you received at</span>
            <span class="font-bold">+91 ******876</span>
          </div>

          <form id="otp" class="flex flex-row justify-center text-center px-2 mt-5" [formGroup]="verifyForm" >
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number" formControlName="first" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" formControlName="second"
              maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" formControlName="third" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" formControlName="fourth"
              maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" formControlName="fifth" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" formControlName="sixth" maxlength="1" />
          </form>

          <div class="flex justify-center text-center  mt-5">
            <button
              class="bg-[#38C390] mt-2  w-16 rounded-xl text-gray-50 hover:bg-gradient-to-r hover:from-[#FD5E57] hover:to-[#FC477E]">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
