input:focus-visible {
  outline: 2px solid #38C390;

}
.with-signup{
  width: 70% !important;
  padding: 30px;
  margin: 0 auto;
}
::placeholder {
  font-family: 'Poppins' ;
  font-size: 13px;
  padding-left: 5px;
}
.w-96{

width: 15rem;
}

.col-span-full {
  width: 100%;
}
.md:px-6{
  margin: 1rem 6rem 1rem 6rem;
}
.invalid-feedback{
  transition: .2s;
}
.logo-img{
  margin-top: 50px;
  width: 250px;
  height: auto;
}
