<section class="bg-gray-50 min-h-screen flex items-center justify-center transition-signup">
  <!-- login container -->


  <div class="bg-gray-50 flex rounded-2xl shadow-lg items-center">
    <!-- image -->
    <div class="md:block hidden w-3/2 ml-20">

      <img class="rounded-2xl " src="https://img.freepik.com/premium-vector/modern-handcrafted-flat-illustration-food-delivery_203633-8769.jpg?w=740">
    </div>
    <!-- form -->
    <div class=" px-8 md:px-24 pb-11">
      <h2 class="font-bold text-4xl pt-2 text-[#002D74]">Signup</h2>
      <p class="text-sm mt-3 mb-3 text-[#002D74]">Create an account</p>

      <form action="" class="flex flex-col gap-3"  [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="mb-1">
          <label for="email" class="block mb-1 text-xs font-medium text-[#002D74]">Your full name</label>
          <input type="text" id="name" formControlName="name" placeholder="Full name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:[#002D74]e-500
           focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">

           <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">First Name is required</div>
          </div>
        </div>
        <div class="mb-1">
          <label for="phone" class="block mb-1 text-xs font-medium text-[#002D74]">Your phone number</label>
          <input type="text" formControlName="phone" placeholder="Phone number" id="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:[#002D74]e-500
           focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" >
           <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
            <div *ngIf="f['phone'].errors['required']">
              Phone Number is required.
            </div>
            <div *ngIf="f['phone'].errors['pattern']">
              Please Follow your pattern: Enter 10 digit phone Number.
            </div>
          </div>
        </div>
        <div class="mb-1">
          <label for="email" class="block mb-1 text-xs font-medium text-[#002D74]">Your email</label>
          <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:[#002D74]e-500
           focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400" formControlName="email" placeholder="name@gmail.com"
           [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">

           <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
          </div>
        </div>
        <div class="mb-1">
          <label for="password" class="block mb-1 text-xs font-medium text-[#002D74]">Your password</label>
          <input type="password" formControlName="password"laceholder="New password"id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:[#002D74]e-500
           focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400"
           [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" >
           <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div class="" *ngIf="f['password'].errors['required']">
              Password is required
            </div>
            <div class="" *ngIf="f['password'].errors['required']">
              Password must be at least 8 characters
            </div>
            <div class="" *ngIf="f['password'].errors['pattern']">
              at least one letter and one number
            </div>
          </div>
        </div>

        <div class="mb-1">
          <label for="repeat-password" class="block mb-1 text-xs font-medium text-[#002D74]">Repeat password</label>
          <input type="password" formControlName="confirmPassword" placeholder="confirm password" id="repeat-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:[#002D74]e-500
           focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400"
           [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">

           <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div class="inputerror" *ngIf="f['confirmPassword'].errors['required']">
              Password not match!
            </div>
          </div>
        </div>

        <div class="mb-1">
          <label for="email" class="block mb-1 text-xs font-medium text-[#002D74]">Your Identity Number</label>
          <input type="text" id="name" formControlName="identityNumber" placeholder="Your identity number" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:[#002D74]e-500
           focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400" [ngClass]="{ 'is-invalid': submitted && f['identityNumber'].errors }">

           <div *ngIf="submitted && f['identityNumber'].errors" class="invalid-feedback">
            <div *ngIf="f['identityNumber'].errors['required']">Identity number is required</div>
          </div>
        </div>
        <label  class="block text-sm font-medium text-[#002D74]">Your CCCD ID card</label>

        <div class="mb-1 gap-1 flex">

         <app-file-upload>

         </app-file-upload>

        </div>
        <div class="flex items-start mb-1">
          <div class="flex  items-center h-5">
            <input id="terms" type="radio" value="" class="w h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 " required>
          </div>
          <label for="terms" class="ml-2 text-sm font-medium text-[#002D74] dark:text-gray-400">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
        </div>
        <div class="flex items-start mb-1">
          <label for="terms" class="ml-2 text-sm font-medium text-[#002D74] dark:text-gray-400">Already have an account? <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">Login</a></label>

        </div>
        <button  type="submit" class="text-white bg-[#38C390] p-3 rounded-xl hover:bg-[#55be97] focus:ring-4 focus:outline-none">Register new account</button>
      </form>

    </div>
  </div>
</section>


