<div class="mx-2 w-72  mb-8   hover:cursor-pointer hover:shadow-lg active:bg-gray-200 ease-linear transition-all duration-150">
    <div (click)="goToDetail()" class="shadow-md relative bg-gray-50 hover:bg-white text-gray-600 hover:text-black">
        <div class="absolute top-2 left-2  text-white">
            <div class="flex justify-between">
                <div class="bg-emerald-500 p-1">
                    <span *ngIf="postItem.transactionType === 1"> For rent</span>
                    <span *ngIf="postItem.transactionType === 0"> For sale</span>
                </div>
                <div class="ml-1 bg-emerald-600 p-1">
                    <span>{{postItem.property.category.name}}</span>
                </div>
            </div>


        </div>

        <div>
            <img src={{postItem.images[0].linkImage}} class="w-full h-44 rounded-t-lg object-cover" />
        </div>
        <div class=" rounded-b-lg ">
            <!-- <div class="flex items-center justify-between px-4 pt-4">
                <div>
                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 last:mr-0 mr-1">
              {{postItem.numberOfView}}
              <i class="fa-solid fa-eye"></i>
            </span>
                </div>
                <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                    <p class="text-xs text-yellow-500">Information</p>
                </div>
            </div> -->
            <div class="p-3">
                <!-- <div id="postTitle" class="flex items-center justify-between pr-0 mr-0 h-12 "> -->
                <p id="two-line" class="text-sm  font-medium  h-full text-ellipsis ">{{postItem.title}}</p>

                <!-- </div> -->

                <p class="text-emerald-600 text-base font-medium m-1">{{postItem.property.price | moneyTransform}} . {{postItem.property.area}} &#x33A1;</p>
                <!-- <p id="four-line" class="text-xs text-gray-600 mt-2 h-16 overflow-hidden">{{postItem.description}}</p> -->
                <div class="flex ">
                    <div>
                        <p class="text-sm text-gray-600 px-2  py-1">{{postItem.property.numberOfBed}} <i class="fa-solid fa-bed"></i></p>

                    </div>
                    <div class="pl-2">
                        <p class="text-sm text-gray-600 px-2  py-1">{{postItem.property.numberOfBath}} <i class="fa-solid fa-bath"></i></p>

                    </div>
                    <div class="pl-2">
                        <p class="text-sm text-gray-600 px-2  py-1">{{postItem.property.numberOfFloor}} <i class="fa-solid fa-house"></i></p>
                    </div>
                </div>
                <p class="text-xs mb-2 ">{{postItem.property.street.name}}, {{postItem.property.district.name}}</p>

                <div class="flex items-center justify-between border-t border-gray-200">
                    <!-- <img [src]="postItem.user.avatarLink" alt=""> -->
                    <p class="truncate text-xs m-0 text-gray-600  text-right max-w-[30%] mt-2">{{postItem.user.name}}</p>


                    <p class="text-xs m-0 text-gray-600  text-right mt-2">{{postItem.createDate | date}}</p>
                </div>

            </div>
        </div>
    </div>

</div>
