<div class="flex items-center justify-center min-h-screen p-5 bg-gray-600 min-w-screen">
  <div class="max-w-xl p-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl lg:p-12">
      <h3 class="text-2xl">Welcome to Land Vision!</h3>
      <div class="flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-green-600 w-28 h-28" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
      </div>
      <p>Your account has been verified</p>
      <div class="mt-4">
          <button class="px-2 py-2 text-blue-200 bg-blue-600 rounded">Go to Home page</button>
          <p class="mt-4 text-sm">If you are not redirected directly to the Home page, please click the "Go to Home page" button.
              <a href="http://localhost:4200/landing" class="text-blue-600"></a>
          </p>
      </div>
  </div>
</div>
