.inputFilter{
  padding-left: 2rem ;
}
.navbar{
  width: 100%;
  z-index: 999999;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  text-decoration: none;
}

.sticky-search{
  position: -webkit-sticky;
  position: sticky !important;
  top: 94px;
  z-index: 50;
}
.filter-width{
  width: 175px;
}
@media only screen and (max-width: 450px) {
  body {
    background-color: lightblue;
  }
}
#dropdown-list {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}

#dropdown-list {
  padding: 5px !important;
}
