<app-auth-navbar (messageEvent)="receiveHeight($event)"></app-auth-navbar>

<main>
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://file4.batdongsan.com.vn/2022/05/14/wxbwknn6/20220514095933-1d5c.jpg');
      ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Your Land Your Vison.
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              Come to our website, Land Vision. You don't need to spend time running around the city to find a piece of
              land, house or apartment that suits for you. Come and experience it with us. We'll save your time.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-200">
    <div [style.padding-top]="paddingTop" class="container mx-auto px-3 ">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full rounded-lg">
        <div class=" sticky-search flex flex-wrap text-sm title-font text-gray-500 tracking-widest;" style="z-index: 10">
          <div class=" stickybar top-0 left-0 z-50  w-full p-2 md:w-full pt-3 shadow rounded-lg bg-white">
            <div class="flex mr-1">
              <div class=" w-1/6 flex items-center ml-2 h-full">
                <button (click)="search()"
                  class=" bg-emerald-500 text-white active:bg-emerald-600 font-bold text-sm  px-14 py-3 rounded shadow hover:bg-emerald-600 outline-none focus:outline-none ease-linear transition-all duration-150"
                  type="button">
                  <i class="fas fa-search"></i> {{'Search' | translate}}
                </button>
              </div>
              <input [(ngModel)]="text" type="text"
                class=" py-3 w-5/6 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm"
                placeholder="Search by listing, location, bedroom number...">
            </div>

            <div class="flex items-center justify-between mt-4">
              <p class="font-medium m-3">
                {{"Filters"| translate}}
              </p>


              <div>
                <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-7 gap-4 mt-1">
                  <select [(ngModel)]="selectedTransactionTypes"
                    class="w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let transactionType of transactionTypes; let i = index" value="{{i}}">
                      {{transactionType | translate}} </option>
                  </select>

                  <select [(ngModel)]="selectedcategoryId"
                    class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let category of categories; let i = index" value="{{category.id}}">{{category.name| translate}}
                    </option>
                  </select>

                  <select [(ngModel)]="selectedPrice"
                    class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let price of prices; let i = index" value="{{i}}">{{price | translate}} </option>

                  </select>

                  <select [(ngModel)]="selectedFloor"
                    class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let floor of floors; let i = index" value="{{i}}">{{floor | translate}} </option>

                  </select>

                  <select [(ngModel)]="selectedBedroom"
                    class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let bedRoom of bedRooms; let i = index" value="{{i}}">{{bedRoom | translate}}
                    </option>
                  </select>

                  <select [(ngModel)]="selectedBathroom"
                    class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let bathRoom of bathRooms; let i = index" value="{{i}}">{{bathRoom | translate}}
                    </option>
                  </select>

                  <select [(ngModel)]="selectedDirection"
                    class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white text-sm">
                    <option *ngFor="let direction of directions; let i = index" value="{{i}}">{{direction | translate}}
                    </option>
                  </select>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap">
          <div class="w-full">
            <ul class="flex mb-0 mx-5 list-none flex-wrap pt-3 pb-4 flex-row">
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg cursor-pointer rounded block leading-normal"
                  (click)="toggleTabs(1)"
                  [ngClass]="{'text-blueGray-600 bg-blueGray-100': openTab !== 1, 'text-white bg-blueGray-600': openTab === 1}">
                  Gallery View
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg cursor-pointer rounded block leading-normal"
                  (click)="toggleTabs(2)"
                  [ngClass]="{'text-blueGray-600 bg-blueGray-100': openTab !== 2, 'text-white bg-blueGray-600': openTab === 2}">
                  Map View
                </a>
              </li>
            </ul>
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="flex-auto">
                <div class="tab-content tab-space">
                  <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                    <div class="mt-12 w-full p-3 ">
                      <span class="font-medium">{{"BROWSE HOT OFFERS" | translate}}</span>
                      <p class="font-bold text-3xl">{{"Lastest Properties" | translate}}</p>
                      <div class="flex flex-wrap items-center justify-start">

                        <app-single-product *ngFor="let post of postRespone" [postItem]="post"></app-single-product>
                      </div>
                      <div class="w-full mt-7 flex flex-wrap items-center lg: justify-center">
                        <button *ngIf="!isFullItem && !isLoading" (click)="loadMore()"
                          class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded-md shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                          type="button">
                          {{'LoadMore' | translate}}
                        </button>
                        <app-loading [isLoading]="isLoading"></app-loading>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                    <app-map-list-detail [isShowAll]="true"></app-map-list-detail>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="mt-12 w-full p-3 ">
          <span class="font-medium">{{"BROWSE HOT OFFERS" | translate}}</span>
          <p class="font-bold text-3xl">{{"Lastest Properties" | translate}}</p>
          <div class="flex flex-wrap items-center justify-start">

            <app-single-product *ngFor="let post of postRespone" [postItem]="post" [status]="status"></app-single-product>
          </div>
          <div class="w-full mt-7 flex flex-wrap items-center lg: justify-center">
            <button *ngIf="!isFullItem && !isLoading" (click)="loadMore()"
              class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded-md shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button">
              {{'LoadMore' | translate}}
            </button>
            <app-loading [isLoading]="isLoading"></app-loading>
          </div>
        </div> -->

      </div>
    </div>

    <section class="py-10">
    </section>

    <section class="pt-0 pb-24">
      <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold">Here are our heroes</h2>
              <p class="text-lg leading-relaxed m-4 text-blueGray-500">
                According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts
                the potentially record maximum.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img alt="..." src="assets/img/team-1-800x800.jpg"
                  class="shadow-lg rounded-full mx-auto max-w-120-px" />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Ryan Tompson</h5>
                  <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                    Web Developer
                  </p>
                  <div class="mt-6">
                    <button
                      class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-twitter"></i>
                    </button>
                    <button
                      class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-facebook-f"></i>
                    </button>
                    <button
                      class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-dribbble"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img alt="..." src="assets/img/team-2-800x800.jpg"
                  class="shadow-lg rounded-full mx-auto max-w-120-px" />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Romina Hadid</h5>
                  <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                    Marketing Specialist
                  </p>
                  <div class="mt-6">
                    <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-google"></i>
                    </button>
                    <button
                      class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-facebook-f"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img alt="..." src="assets/img/team-3-800x800.jpg"
                  class="shadow-lg rounded-full mx-auto max-w-120-px" />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Alexa Smith</h5>
                  <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                    UI/UX Designer
                  </p>
                  <div class="mt-6">
                    <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-google"></i>
                    </button>
                    <button
                      class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-twitter"></i>
                    </button>
                    <button
                      class="bg-blueGray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-instagram"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img alt="..." src="assets/img/team-4-470x470.png"
                  class="shadow-lg rounded-full mx-auto max-w-120-px" />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Jenna Kardi</h5>
                  <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                    Founder and CEO
                  </p>
                  <div class="mt-6">
                    <button
                      class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-dribbble"></i>
                    </button>
                    <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-google"></i>
                    </button>
                    <button
                      class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-twitter"></i>
                    </button>
                    <button
                      class="bg-blueGray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button">
                      <i class="fab fa-instagram"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="pb-20 relative block bg-blueGray-800">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
        style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-blueGray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>

      <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-medal text-xl"></i>
            </div>
            <p class="text-xl mt-5 font-semibold text-white">
              Excelent Services
            </p>
            <p class="mt-2 mb-4 text-blueGray-400">
              To sell land quickly, develop a strong marketing strategy and identify the right target audience to
              increase market growth and attract potential buyers.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-poll text-xl"></i>
            </div>
            <p class="text-xl mt-5 font-semibold text-white">
              Grow your market
            </p>
            <p class="mt-2 mb-4 text-blueGray-400">
              Expand your market reach by exploring different sales channels, partnering with agents or developers, and
              increasing your visibility to reach a wider audience and sell your land more quickly.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-lightbulb text-xl"></i>
            </div>
            <p class="text-xl mt-5 font-semibold text-white">Launching Your Land Sale</p>
            <p class="mt-2 mb-4 text-blueGray-400">
              Successfully launch your land sale by understanding your target audience, developing a strong marketing
              message, having a clear sales process, and being well-prepared and organized to maximize your chances of
              closing a deal quickly.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="relative block py-24 lg:pt-0 bg-blueGray-800">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
              <div class="flex-auto p-5 lg:p-10">
                <p class="text-2xl font-semibold">Want to work with us?</p>
                <p class="leading-relaxed mt-1 mb-4 text-blueGray-500">
                  Complete this form and we will get back to you in 24 hours.
                </p>
                <div class="relative w-full mb-3 mt-8">
                  <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="full-name">
                    Full Name
                  </label>
                  <input type="text"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Full Name" />
                </div>

                <div class="relative w-full mb-3">
                  <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="email">
                    Email
                  </label>
                  <input type="email"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Email" />
                </div>

                <div class="relative w-full mb-3">
                  <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="message">
                    Message
                  </label>
                  <textarea rows="4" cols="80"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Type a message..."></textarea>
                </div>
                <div class="text-center mt-6">
                  <button
                    class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button">
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
