input:focus-visible {
  outline: 2px solid #38C390;

}
::placeholder {
  font-family: 'Poppins' ;
  font-size: 13px;
  padding-left: 5px;
}
body{
  background-color: aquamarine;
}
.invalid{
  margin-top: 10px;
  color: rgb(248, 76, 76);
  font-size: 12px;
}
