<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
    <section class="relative block h-500-px">
        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      ">
            <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0)">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
        </div>
    </section>
    <section class="relative py-16 bg-blueGray-200">
        <div class="container mx-auto px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
                <div class="px-6">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                            <div class="relative">
                                <div style=" width: 160px !important; height: 160px !important; background-image: url({{userInfor.avatarLink}}); background-size: cover;" class="shadow-xl rounded-full border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-170-px">
                                  <label *ngIf="isMyProfile" for="fileInput" class="choose-image">
                                  </label>
                                  <input  *ngIf="isMyProfile" id="fileInput" type="file" style="display: none;" (change)="fileChangeEvent($event)" (click)="openImageDialog();dialogImage.showModal();">
                                  <div  *ngIf="isMyProfile" style="border-radius: 50%; position: absolute; width: 35px; height: 35px; background-color: rgb(83, 81, 81); bottom: 8px; right: 8px; display: flex; align-items: center; justify-content: center;" >
                                    <i style="color: white;" class="fa-solid fa-camera"></i>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                          <div class="py-6 px-3 mt-32 sm:mt-0">
                            <button *ngIf="isMyProfile" (click)="open();dialog.showModal();" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Edit</button>
                          </div>
                        </div>

                        <div class="w-full lg:w-4/12 px-4 lg:order-1">
                            <div class="flex justify-center py-4 lg:pt-4 pt-8">
                                <div class="mr-4 p-3 text-center">
                                    <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
                  {{userInfor.posted}}
                  </span>
                                    <span class="text-sm text-blueGray-400">Posted</span>
                                </div>
                                <div class="mr-4 p-3 text-center">
                                    <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
                  {{userInfor.numberOfUserCanPost-userInfor.posted }}
                  </span>
                                    <span class="text-sm text-blueGray-400">Post remaining</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                      <div class="text-base leading-normal mt-0 mb-2 text-blueGray-400 font-medium lowercase">
                        <h3 class="text-4xl mr-2 font-semibold leading-normal text-blueGray-700 mb-2" style="display: inline-block;">
                          {{userInfor.name}}
                      </h3>
                      </div>

                        <div class="text-base leading-normal mt-0 mb-2 text-blueGray-400 font-medium lowercase">
                            <i class="fa-solid fa-envelope"> </i>
                            <a href="mailto:{{userInfor.email}}" #email> {{userInfor.email}}  </a>
                            <i class="fa-regular fa-copy mr-2 text-gray-200 hover:text-blue-500" (click)="copyText(userInfor.email)"></i>
                        </div>

                        <div class="text-base mb-2 text-blueGray-400 font-medium ">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:{{userInfor.phone}}"> {{userInfor.phone}} </a>
                            <i class="fa-regular mr-2  fa-copy text-gray-200 hover:text-blue-500 " (click)="copyText(userInfor.phone)"></i>
                        </div>

                        <div class="mb-2 text-blueGray-600 ">
                            <i class="fa-solid fa-calendar-days mr-2 text-lg text-blueGray-400 font-medium"></i> Joining date: {{ userInfor.emailExpiresTime | dateFormat }}
                        </div>

                    </div>
                    <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                        <div class="flex flex-wrap justify-center">
                        </div>
                    </div>

                </div>

                    <!-- <div class="w-full  grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto">

                        <app-pricing-card *ngFor="let vip of vipResponse" [vipItem]="vip"></app-pricing-card>
                    </div>
                </div> -->
                <div class="flex" style="flex-wrap: wrap;">
                  <app-single-product *ngFor="let userPost of userPosts" [postUserId] ="postUserId" [postItem]="userPost" [status]="status" [showNotification]="true" ></app-single-product>
                </div>

            </div>

        </div>
    </section>

    <dialog [ngClass]="openDialog ? 'hidden':'flex'" class="flex-col bg-blueGray-200 rounded-lg w-1/3" #dialog>
      <p class="text-xl font-medium">Edit your information</p>
      <div class="w-full mb-3 pt-0">
        <input class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full" type="text" placeholder="User name" [(ngModel)]="contactInformationChanging.name"/>
      </div>
      <div class="w-full mb-3 pt-0">
        <input class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full" type="email" placeholder="Email" [(ngModel)]="contactInformationChanging.email"/>
      </div>
      <div class="w-full mb-3 pt-0">
        <input class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full" type="tel" placeholder="Phone" [(ngModel)]="contactInformationChanging.phone"/>
      </div>
      <div class="w-full flex items-center text-center justify-around">
          <button class="w-3/12 border border-solid border-black bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" (click)="save()">Save</button>
          <button class="w-3/12 border border-solid border-black bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" (click)="close()">Cancel</button>
      </div>
      <ngx-loading [config]="{fullScreenBackdrop: true}" [show]="ischangingProfile"></ngx-loading>
    </dialog>

    <dialog class="flex flex-col bg-blueGray-200 rounded-lg w-1/3" #dialogImage>
      <div class="w-full">
        <image-cropper [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" [aspectRatio]="1"
          [resizeToWidth]="100" [resizeToHeight]="100" [onlyScaleDown]="true" format="png" (imageCropped)="cropImg($event)"
          (imageLoaded)="imgLoad()" (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()">
        </image-cropper>

        <div class="w-full flex items-center text-center justify-around">
          <button
            class="w-3/12 border border-solid border-black bg-emerald-500 text-black active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            (click)="saveImage()">Save</button>
          <button
            class="w-3/12 border border-solid border-black bg-red-500 text-black active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            (click)="closeImagePopup()">Cancel</button>
        </div>
      </div>
    </dialog>

</main>
<app-footer></app-footer>
