<!-- Header -->
<div class="relative bg-green-500  pb-32 pt-12">
    <div class="absolute right-6 top-6 flex items-center">
        <div class="inline-block mr-4 mb-0">
            <select class="rounded-md border-none focus:outline-none outline-none" #selLang (change)="translateLanguageTo(selLang.value)">
              <option *ngFor="let language of translate.getLangs()" [value]="language">{{language}}</option>
            </select>
        </div>
        <app-user-dropdown class="hidden md:inline-block w-9 h-9 "></app-user-dropdown>
    </div>
    <div class="px-4 md:px-10 mx-auto w-full">
        <div>
            <!-- Card stats -->
            <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="POSTS" statTitle={{postCount}} statArrow="up" statPercent="3.48" statPercentColor="text-emerald-500" statDescripiron="Since last month" statIconName="fa-sharp fa-regular fa-newspaper" statIconColor="bg-red-500"></app-card-stats>
                </div>
                <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="SELLERS" statTitle={{userCount}} statArrow="down" statPercent="3.48" statPercentColor="text-red-500" statDescripiron="Since last week" statIconName="fas fa-users" statIconColor="bg-blue-500"></app-card-stats>
                </div>
                <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="REVENUE" statTitle="{{revenue | currency : 'VND' : 'VND'}}" statArrow="down" statPercent="1.10" statPercentColor="text-orange-500" statDescripiron="Since yesterday" statIconName="fa-solid fa-dollar-sign" statIconColor="bg-emerald-500"></app-card-stats>
                </div>
                <!-- <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="VISITS" statTitle="15 962" statArrow="up" statPercent="12" statPercentColor="text-emerald-500" statDescripiron="Since last month" statIconName="fas fa-percent" statIconColor="bg-yellow-500"></app-card-stats>
                </div> -->
            </div>
        </div>
    </div>
</div>
